p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

:root {
    --priority-color: #434455 ;
    --priority-bgr-color: #FFFFFF;
    --priority-text-color: #FFFFFF;
    --color-active: #404BBF;
    --title-text-color: #2E2F42;
    --second-bgr-color: #2E2F42;
    --button-color:#4D5AE5;
    --second-button-color:#E7E9FC;
    --bgr-portfolio: #E5E5E5;
    --bgr-team: #F4F4FD;
    --border-color-header: #E7E9FC;
    --social-link: #4D5AE5;
    --border: #8E8F99;
    --bgr-img: #F4F4FD;
    --col-footer-social: rgba(255, 255, 255, 0.1);
    --footer-social-hover: #31D0AA;;
    --input-color: #6D6D7B;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    color: var(--priority-color);
    background-color:var(--priority-bgr-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Container  */

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-team {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 428px) {
    .container-team {
        width: 396px;
    }
}

@media (min-width: 768px) {
    .container-team {
        width: 768px;
    }
}

@media (min-width: 1200px) {
    .container-team {
        width: 100%;
        max-width: 1158px;
    }
}

.container-customers {
    width: 100%;
    max-width: 396px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container-customers {
        max-width: 768px;
    }
}

@media (min-width: 1200px) {
    .container-customers {
        width: 100%;
        max-width: 1158px;
    }
}

/* ... */

@media (min-width: 428px) { 
    .container.secondary {
        width: 396px;
    }
}

@media (min-width: 768px) { 
    .container.secondary {
        width: 768px;
    }    
}

@media (min-width: 1200px) {
    .container.secondary {
        width: 100%;
        max-width: 1158px;
    }
}

/* Section */

.section {
    padding-top: 120px;
}

@media (max-width: 1199px) {
    .section {
        padding: 96px 0;
    }
}

.markers.list {
    flex-basis: calc((100% - 72px) / 4);
}

@media (min-width:768px) and (max-width:1199px) {
    .markers.list {
        flex-basis: calc((100% - 24px) / 2);
    }
}

.section-do {
    padding: 120px 0;
}

@media (max-width: 1199px) {
    .section-do {
        display: none;
    }
}

.site-title {
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-transform: uppercase;
    text-align: center;
    padding: 24px 0;
}

.part-site-title {
    color: var(--button-color);
}

.container.header-container-desktop {
    display: none;
}

.container.header-container-mobil {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .container.header-container-desktop {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .container.header-container-mobil {
        display: none;
    }
}

/* Mobile menu */

.mobil-menu {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--priority-bgr-color);
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
    .mobil-menu {
        display: none;
    }
}

.mobil-menu.is-open {
    transform: translateX(0);
}

.mobil-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.mobil-menu-cross {
    width: 8px;
    height: 8px;
    fill: currentColor;
}

.burger-menu {
    width: 32px;
    height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-link-burger-menu {
    text-decoration: none;
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.header-link-burger-menu.active {
    color: var(--color-active);
}

.list-link-burger-menu {
    margin-bottom: 40px;
}

.burger-menu-tel {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--button-color);
}

.address-berger-menu {
    margin-top: 30px;
}

.list-address-burger-menu {
    margin-bottom: 40px;
}

.burger-menu-email {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--priority-color);
}

.burger-social-link {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    width: 40px;
    height: 40px;
    background-color: var(--social-link);
    border-radius: 50%;
}

.burger-social-list {
    display: flex;
    gap: 56px;
}

.burger-menu-icon {
    display: inline-block;
    width: 32px;
    height: 22px;
    stroke: var(--second-bgr-color);
}

.header-menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 76px;
    flex-grow: 1;
}

.address {
    display: flex;
    gap: 12px;
}

@media (max-width: 1199px) {
    .address {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .address {
        gap: 40px;
    }
}

.header-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.header-link:hover {
    color: var(--color-active);
}

.header-link.active {
    color: var(--color-active);
    position: relative;
}

.header-link.active::after {
    width: 100%;
    height: 4px;
    display: block;
    background-color: currentColor;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    transform: translateY(1px);
    content: '';
}

.header {
    background-color: var(--priority-bgr-color);
    border-bottom: 1px solid var(--border-color-header);
}

.portfolio-header {
    border-bottom: 1px solid var(--border-color-header);
}

.contact {
    color: var(--priority-color);
    font-style: normal;
    text-decoration: none;
    padding: 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
    .contact {
        padding: 24px 0;
    }
}

.contact:hover {
    color:var(--color-active);
}

.markers {
    list-style-type: none;
}

.first-section {
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
    padding: 112px 0;
    text-align: center;
}

@media (min-width: 1200px) {
    .first-section {
        padding: 188px 0;
    }
}

.do-images {
    display: flex;
    gap: 24px;
}

.title {
    color:var(--priority-bgr-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 0.9;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

@media (min-width: 768px) {
    .title {
        font-size: 56px;
        margin-bottom: 36px;
    }
}

@media (min-width: 1200px) {
    .title {
        margin-bottom: 48px;
    }
}

.button-of-order {
    background-color: var(--button-color);
    color:var(--priority-bgr-color);
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: var(--button-color);
    cursor: pointer;
    justify-content: center;
    height: 56px;
    width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-of-order:hover {
    background-color: var(--color-active);
}

.title-h3 {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.title-h3.team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

@media (max-width:767px) {
    .title-h3 {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .title-h3 {
        font-weight: 500;
        font-size: 20px;
    }
}

.social-h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--priority-text-color);
    display: block;

}

.title-h3.team {
    text-align: center;
}

.title-h2 {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
}

@media (min-width: 320px){ 
    .title-h2 {
        margin-bottom: 72px;
    }
}

.title-h2.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: 1px;
}

.team-section {
    background-color: var(--bgr-team);
    padding: 120px 0;
}

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-img {
    display: block;
    max-width: 100%;
}

.team-div {
    /*padding-top: 32px;
    padding-bottom: 32px;*/
    padding: 32px 16px;

}

.paragraph-team {
    text-align: center;
} 

.markers-team {
    list-style-type: none;
    background-color:var(--priority-bgr-color);
}

.markers-team.list {
    flex-basis: calc((100% - 72px) / 4);
}

.title.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: 1px;
}

.bgr-portfolio {
    color:var(--bgr-portfolio);
}

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.button-filter {
    font-family: 'Roboto', sans-serif;
    color: var(--button-color);
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--second-button-color);
    border: 1px solid var(--second-button-color);
    border-radius: 4px;
    cursor: pointer;
    height: 48px;
    padding: 12px 24px;
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover {
    color: var(--priority-text-color);
    background-color: var(--color-active);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--color-active);
}

.button-filter.active {
    background-color: var(--color-active);
    color:var(--priority-bgr-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--color-active);
} 

.link-filter {
    text-decoration: none;
    display: block;
}

.link-filter:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
 
.paragraph {
    color: var(--priority-color);
    font-size: 16px;
    line-height: 24px;
}

.title-h2-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
}

.text-cards {
    background-color: var(--button-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}

.link-filter:hover .text-cards {
    transform: translateY(0);
}

.img-card {
    position: relative;
    overflow: hidden;
}

.paragraph-card {
    color: var(--bgr-team);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-footer {
    background-color:var(--second-bgr-color);
    padding: 100px 0;
}

.markers.img-portfolio {
    border: 1px solid var(--border-color-header);
    width: calc((100% - 48px) / 3);
}

.site-title-footer {
    color: var(--bgr-team);
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .site-title-footer {
        text-align: center;
    }
}

/* .paragraph-footer {
    color: var(--second-button-color);
    max-width: 264px;
    margin-top: 16px;
    line-height: 1.5;
} */

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
}

@media (min-width: 768px) {
    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }
}


/* Work list */

.work-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}

@media (max-width:767px) {
    .work-list {
        flex-direction: column;
    }
}

.buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.img-filers {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.filter-div {
    padding: 32px 16px;
}

.img-icon {
    width: 64px;
    height: 64px;
}

.img-item {
    display: none;
}

@media (min-width: 1200px) {
    .img-item {
        display: flex;
        height: 112px;
        background-color: var(--bgr-img);
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
}

.markers.img-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.list-company {
    display: flex;
    justify-content: center;
    row-gap: 72px;
    column-gap: 16px;
}

@media (min-width: 768px) and (max-width: 1199px) { 
    .list-company {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        margin-top: 72px;
        margin-right: auto;
        margin-left: auto;
        max-width: 552px;
    }
}

@media (min-width: 320px) and (max-width: 767px) { 
    .list-company {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        margin-top: 72px;
    }
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--border);
    border: 1px solid var(--border);
    border-radius: 4px;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.logo-link:hover {
    border-color: 1px solid var(--color-active);
    color: var(--color-active);
}

.markers.company-item {
    width: calc(100% - 120px / 6);
    height: 88px;
}

@media  (min-width: 320px) {
    .markers.company-item {
        flex-basis: calc((100% - 16px) / 2);
    }
}

@media (min-width: 768px) and (max-width: 1199px) { 
    .markers.company-item {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100% - 2 * 24px) / 3);
        list-style: none;
        width: 168px;
        height: 88px;
    }    
}

.logo-clients {
    height: 56px;
    width: 104px;
    fill: currentColor;
} 

.social-icon {
    width: 16px;
    height: 16px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--social-link);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
    background-color: var(--color-active);
}

.markers.social-item {
    width: 40px;
    height: 40px;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 16px;
}

.markers.footer-social {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.container.footer-social-media {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) and (max-width: 1199px) { 
    .container.footer-social-media {
        max-width: 456px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        list-style: none;
    }
}

.footer-social-icon {
    width: 24px;
    height: 24px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:var(--col-footer-social);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover {
    background-color: var(--footer-social-hover);
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

/* footer subscribe */

.title-footer-subscribe {
    color: var(--priority-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02ef;
    margin-bottom: 16px;
}

.footer-input {
    width: 100%;
    border: 1px solid var(--input-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;
    width: 264px;
    height: 40px;
    padding: 8px 0px 8px 16px;
    flex: 1;
    outline: none;
    color: var(--priority-bgr-color);
}

input[name="email"] {
    color: var(--priority-text-color);
}

.footer-input:focus {
    outline: none;
    border: 1px solid var(--button-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--button-color);
}


/* .button-subscribe {
    display: flex;
    background-color: var(--button-color);
    color: var(--priority-bgr-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 24px;
    gap: 16px;
    width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover {
    background-color: var(--color-active);
} */

.footer-form-icon {
    fill: currentColor;
    color: var(--priority-bgr-color);
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 400ms, visibility 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 408px;
    max-width: 95vw;
    max-height: 95vh;
    background-color: var(--priority-text-color);
    padding: 74px 24px 24px;
}

.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--second-button-color);
    color: var(--title-text-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close:hover {
    background-color: var(--color-active);
    color: var(--priority-text-color);
    cursor: pointer;
}

.modal-cross {
    width: 8px;
    height: 8px;
    fill: currentColor;
}

.modal-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 16px;
}

.name-modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.001em;
    margin-bottom: 8px;
    color: var(--border);
}

.icon-block {
    position: relative;
}

.modal-input {
    width: 360px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 38px;
}

.modal-input:focus {
    outline: none;
    border: 1px solid var(--button-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--button-color);
}

.modal-text:focus {
    outline: none;
    border: 1px solid var(--button-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--second-bgr-color);
}

.modal-input:focus+.modal-icon {
    fill: var(--button-color);
}

.modal-icon.name {
    width: 12px;
    height: 12px;
}
.modal-icon.phone {
    width: 13px;
    height: 13px;
}

.modal-icon.email {
    width: 15px;
    height: 12px;
}

.form-information {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    color: var(--color-customers-border);
    margin-top: 8px;
}

.form-information-first{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    color: var(--color-customers-border);
}

.modal-text {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.004em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding-top: 8px;
    padding-left: 16px;
}

.form-policy {
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.004em;
    color: var(--color-customers-border);
}

.policy-direction {
    margin-top: 16px;
}

.modal-send-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 auto;
    display: block;
    text-align: center;
    border: none;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    color: var(--priority-text-color);
    background-color: var(--button-color);
    padding: 16px 32px;
    cursor: pointer;
    margin-top: 24px;
}

.modal-send-button:hover {
    background-color: var(--color-active);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */

footer {
    background-color: var(--second-bgr-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

@media (min-width: 1158px) {
    footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.footer-container {
    display: flex;
}
    

@media (min-width: 320px) and (max-width: 767px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer-container {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1199px) {
    .footer-container {
        gap: 80px;
        max-width: 1199px;
    }
}


.footer-social h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--priority-text-color);
    margin-bottom: 16px;
}



@media (max-width: 767px) {
    .footer-social {
        margin-left: 0;
        text-align: center;
    }
}


.text-footer {
    color: var(--second-button-color);
    max-width: 264px;
    margin-top: 16px;
    line-height: 1.5;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer-content {
        max-width: 268px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer-content {
        margin-left: -50px;
    }
}


@media (min-width: 320px) and (max-width: 1157px) {
    .footer-content {
        display: flex;
        flex-direction: column;
    }
}

/* @media (min-width: 320px) and (max-width: 767px) {
    .footer-content>.logo {
        text-align: center;
    }
} */

.footer-form {
    display: flex;
    display: block;
}

.social-list-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.social-icon-footer {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.social-links-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--bgr-team);
    ;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer:hover,
.social-links-footer:focus {
    background-color: var(--footer-social-hover);
}

.social-list-footer .social-item-footer {
    width: 40px;
    height: 40px;
}

.footer-input {
    position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer-form-container {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer-form-container {
        margin-left: -95px;
    }
}



.legend-footer {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--priority-bgr-color);
    text-align: center;
}

@media (min-width: 768px) {
    .legend-footer {
        text-align: start;
    }
}

.footer-input {
     width: 100%;
    border: 1px solid var(--input-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;
    width: 264px;
    /* width: 398px; */
    height: 40px;
    padding: 8px 0px 8px 16px;

    flex: 1;
    outline: none;
    color: var(--priority-text-color);
}

.footer-input:focus {
    border: 1px solid var(--button-color);
}

@media (min-width: 768px) {
    .footer-input {
        width: 264px;
    }
}

.btn-footer-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    display: flex;
    gap: 16px;

    padding: 8px 24px;

    background-color: var(--button-color);
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: var(--priority-text-color);

    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .btn-footer-form::after {
    content: '';
    background-image: url('../images/telega.png');
    fill: var(--priority-bgr-color);
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
} */

.btn-footer-form:hover {
    background-color: var(--color-active);
}


@media (min-width: 768px) {
    .btn-footer-form {
        margin: 0;
    }
}

.form-email {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--priority-bgr-color);
}

.footer-input::placeholder {
    display: flex;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;

    color:#6D6D7B;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer-form {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .footer-form {
        display: flex;
        gap: 24px;
    }
}